/* CSS declarations go here */
body > div:nth-child(71) > ol {
    padding: 1em;
}
.camion {
    list-style: none;
}
.ville {
    list-style: none;
}
.trajets {
    list-style: none;
}
.no-camions {
    list-style: none;
}