/* CSS declarations go here */
.trajets {
    padding: 1em;
    border-top: 1px solid black;
}
.camion {
    list-style: none;
}
.camions {
    padding: 10px;
}
.ville {
    list-style: none;
    display: flex;
    padding-left: 45%;
}
.trajets {
    list-style: none;
}
.no-camions {
    list-style: none;
}
#reponse {
    text-align: center;
    padding-top: 1em;
    color: red;
}
.trajets > li {
    width: 50%;
    float: left;
}
.flotte-value {
    width: 25%;
    display: block;
    float: left;
    text-align: center;
}

#dispo {
    display: block;
    text-align: center;
}

#create, #delete, #demandetrajet, #avancement {
    display: block;
    margin: 1em auto;
}
.myNavbar > div {
    text-align: center;
    font-size: large;
}
#trajet_icon {
    display: none;
}
#textelogout {
    font-size: large;
    text-align: center;
    padding-top: 2em;
}

#bulk-create > div {
    display: block;
    text-align: center;
    padding-top: 1em;
}

.dispo, .localisation, .idCamion {
    width: 33.33333333%;
    display: block;
    float: left;
    text-align: center;
}
